
/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}



#main-container {
    width: 100%;
    height: 100%;
}




.logoImg {
	vertical-align: top;
	display: inline-block;
	height: 60px;
	overflow: hidden;
	float: left;
	padding: 8px;
}

@font-face { font-family: Roboto-bold; src: url("../font/Roboto-Bold.ttf"); } 
@font-face { font-family: Roboto-regular; src: url("../font/Roboto-Regular.ttf"); } 
@font-face { font-family: FontAwesome; src: url("../font/fontawesome-webfont.ttf"); } 


.value-white {
	color: #fff;
}

.value-black {
	color: #000;
}

.number-value {		
	font-family:  "Open Sans", Roboto-bold;
}














/* For the Font responsiveness*/

/* xs < 768 */
@media screen and (max-width: 767px) {
    body {
        font-size: 0.9em;
    }
	
	.box-big-value {
		font-size: 50px;
	}
	.box-med-value {
		font-size: 35px;
	}
	.box-small-value {
		font-size: 20px;
	}
	.tab-btn {
		width: 120px;
	}
}

/* sm */
@media screen and (min-width: 768px) {
    body {
        font-size: 1em;
    }
	
	.box-big-value {
		font-size: 30px;
	}
	.box-med-value {
		font-size: 25px;
	}
	.box-small-value {
		font-size: 10px;
	}
	
	.tab-btn {
		width: 110px;
	}
}

/* md */
@media screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
	
	.box-big-value {
		font-size: 40px;
	}
	.box-med-value {
		font-size: 30px;
	}
	.box-small-value {
		font-size: 15px;
	}
	
	.tab-btn {
		width: 130px;
	}
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
        font-size: 1.3em;
    }	
	
	.box-big-value {
		font-size: 42px;
	}
	
	.box-med-value {
		font-size: 35px;
	}
	.box-small-value {
		font-size: 20px;
	}
	
	.tab-btn {
		width: 150px;
	}
	
	
	
	.bottomBox-big-value {
		font-size: 35px;
	}
	
	.bottomBox-med-value {
		font-size: 25px;
	}
	
	.bottomBox-small-value {
		font-size: 15px;
	}

}
/* For Font Responsiveness - End*/





.chart-container {
    height: 400px;
    margin-top: 20px;
    /*margin-left: 10px;*/
    position: relative;
    border-bottom: 1px solid #c9cdd7;
}
.chart-div-container {
	width: 100%;
	height: 375px;
}

.chart-container .bar {
    height: 100%;
    position: relative;
    width: 6%;
    margin: 0px 4%;
    float: left;
    text-align: center;
    z-index: 10;
}

.chart-container .bar .title {
    position: absolute;
    bottom: -30px;
    width: 100%;
    text-align: center;
    font-size: 11px;
}

.chart-container .bar .value {
    position: absolute;
    bottom: 0;
    background: #4ECDC4;
    color: #4ECDC4;
    width: 100%;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}



.chart-container .bar .value:hover {
    background: #444c57;
    color: #fff;
}


.chart-div {
	height: inherit;
	width: inherit;
	background: #222;
}


.tab-container {
	vertical-align: middle;
	text-align: center;
	background: #444c57;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
	
}
.tab-inner-container {
	display: inline-flex;
	background: #444c57;
}
.tab-btn {
	color: #4a9a99;
	float: left;
	height: 30px;
	/*border: 1px solid #111;*/
	text-align: center;
	padding: 4px 4px 0px 4px;
	
}

.chosen-tab {
	border-bottom: 5px solid #fff;
	color: #fff;
}

.hovered-tab {
	background: #667282;
	color: #ddd;
}


.tab-btn:hover {	
	background: #667282;
	color: #ddd;
}




.spark-chart-container {	
    height: 100px;
    margin-top: 20px;
    position: relative;
    border-bottom: 1px solid #c9cdd7;
	background: #444c57;
}

.spark-chart {
	height: inherit;
}
.spark-box-div {
	height: 100px;
	line-height: 3.5em;
}

.spark-box-title {
	font-size: 25px;
	width: 25%;
	float: left;
	padding-left: 20px;
	color: #FFF;
}

.spark-box-chart {
	width: 55%;
	float: left;
}

.spark-box-value {
	width: 20%;
	float: left;
	font-size: 30px;
	color: #FFF;
	padding-right: 20px;
	text-align: right;
}

.vertical-center {	
	line-height: 3.5em;
}



/*footer*/
.site-footer {
    background: #1e1d23;
    color: #fff;
    padding: 10px 0;
}
















/*The graph line*/
.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 2px;
  shape-rendering: auto;
}


.gasColor {
	stroke: #f68275;
}

.oilColor {
	stroke: #4ecdc4;
}

.waterColor {
	stroke: #4fc1e9;
}



.pressureChokeColor {
	stroke: #8f63ad;
}




.axis {
	color: #eee;
}

.axis tick {
	font-size: 12px;
}
.domain {
	stroke: #eee;
}

.tick line{
	stroke: #777;
}

.tick {
	stroke: #ddd ;
}


.tickGrid {
	stroke: #444;
}

.axis-label {
	font-size: 12px;
	font-family:  "Open Sans", Roboto-regular;
}
















/*-- for axis lines use the same color as the chart bg color to make it invisible*/
.domain {
	stroke: #444c57;
}













/*=====================================================================================================*/

/*=====================================================================================================*/

/*=====================================================================================================*/







.header, .footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}


.bg-black {
    background: #1e1d23;
    border-bottom: 1px solid #393d46;
}



/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
	font-family: FontAwesome;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}






ul.top-menu > li > .logout {
	color: #f2f2f2;
	font-size: 12px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 1px solid #64c3c2 !important;
	padding: 5px 15px;
	margin-right: 15px;
	background: #4ECDC4;
	margin-top: 15px;
}

/*notification*/
#top_menu .nav > li, ul.top-menu > li {
    float: left;
}






/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #2f323a;
}

#sidebar h5 {
	color: #f2f2f2;
	font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}




.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

ul.sidebar-menu li ul.sub li{
    background: #2f323a;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}


ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
	color: white;
	background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #4ECDC4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a{
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #4ECDC4;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}









/*Helpers*/

.centered {
	text-align: center;
}

.mt {
	margin-top: 25px;
}

.mb {
	margin-bottom: 25px;
}

















/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

























/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/*Panel Size*/

.pn {
	height: 250px;
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
}



.simple-panel-header {
	padding: 3px;
	margin-bottom: 15px;
}

/*Grey Panel*/

.grey-panel {
	text-align: center;
	background: #dfdfe1;
}
.grey-panel .grey-header {
	background: #ccd1d9;
	padding: 3px;
	margin-bottom: 15px;
}

.grey-header {
	background: #ccd1d9;
}
.grey-panel h5 {
	font-weight: 200;
	margin-top: 10px;
}
.grey-panel p {
	margin-left: 5px;
}
/* Specific Conf for Donut Charts*/
.donut-chart p {
	margin-top: 20px;
	font-weight: 700;
	margin-left: 15px;
}
.donut-chart h2 {
	font-weight: 900;
	color: #FF6B6B;
	font-size: 38px;
}



/*Dark-Grey Panel*/

.darkgrey-panel {
	text-align: center;
	background: #cecbcf;
}
.darkgrey-panel .darkgrey-header {
	background: #5f6266;
	padding: 3px;
	margin-bottom: 15px;
	color: #fff;
}
.darkgrey-panel h5 {
	font-weight: 200;
	margin-top: 10px;
}
.darkgrey-panel p {
	margin-left: 5px;
}


/* Dark Blue*/

.darkblue-panel {
	text-align: center;
	background: #444c57;
}
.darkblue-panel .darkblue-header {
	background: transparent;
	padding: 3px;
	margin-bottom: 15px;
}

.darkblue-header {
	background: #7ea6d4;
	color: #fff;
}
.darkblue-panel h1 {
	color: #f2f2f2;
}
.darkblue-panel h5 {
	font-weight: 200;
	margin-top: 10px;
	color: white;
}
.darkblue-panel footer {
	color: white;
}
.darkblue-panel footer h5 {
	margin-left:10px; 
	margin-right: 10px;
	font-weight: 700;
}

/*Green Panel*/
.green-panel {
	text-align: center;
	background: #4ECDC4;
}
.green-panel .green-header {
	background: #43b1a9;
	padding: 3px;
	margin-bottom: 15px;
}

.green-header {
	background: #43b1a9;
	color: #000;
}

.green-panel h5 {
	color: white;
	font-weight: 200;
	margin-top: 10px;
}
.green-panel h3 {
	color: white;
	font-weight: 100;
}
.green-panel p {
	color: white;
}



.light-blue-header {
	background: #4fc1e9;
	color: #fff;
}

/*Red Panel*/
.red-panel {
	text-align: center;
	background: #f68275;
}
.red-panel .red-header {
	background: #ef6145;
	padding: 3px;
	margin-bottom: 15px;
}

.red-header {
	background: #ef6145;
	color: #000;
}

.red-panel h5 {
	color: white;
	font-weight: 200;
	margin-top: 10px;
}
.red-panel h3 {
	color: white;
	font-weight: 100;
}
.red-panel p {
	color: white;
}


/*Blue Panel*/
.blue-panel {
	text-align: center;
	background: #4fc1e9;
}
.blue-panel .blue-header {
	background: #7ea6d4;
	padding: 3px;
	margin-bottom: 15px;
}

.blue-header {
	background: #7ea6d4;
}

.blue-panel h5 {
	color: white;
	font-weight: 200;
	margin-top: 10px;
}
.blue-panel h3 {
	color: white;
	font-weight: 100;
}
.blue-panel p {
	color: white;
}





/*White Panel */
.white-panel {
	text-align: center;
	background: #ffffff;
}
.white-panel .white-header {
	background: #f3f3f3;
	padding: 3px;
	margin-bottom: 15px;
}
.white-panel .small {
	font-size: 10px;
	color: #ccd1d9;
}



























/* Dash Side */

.ds {
	background: #e8e0e0;
	padding-top: 20px;
}

.ds h4 {
	font-size: 14px;
	font-weight: 700;
}

.ds i {
	font-size: 14px;
}

.ds .desc {
	border-bottom: 1px dotted #979797;
	display: inline-block;
	padding: 15px 0;
	width: 100%;
}

.ds .desc:hover {
	background: #ffffff;
}

.ds .thumb {
	width: 30px;
	margin: 0 10px 0 20px;
	display: block;
	float: left;
}

.ds .details {
	width: 170px;
	float: left;
}

.ds > .desc p {
	font-size: 11px;
}

.ds p > muted {
	font-size: 9px;
	text-transform: uppercase;
	font-style: italic;
	color: #666666
}

.ds a {
	color: #4ECDC4;
}











/*Theme Backgrounds*/



.bg-theme {
	background-color: #4ECDC4;
}
